<nav>
  <h1>Hi.</h1>
  <div id="logo"></div>
  <h2>I'm <a href="/about">Enrico</a>.</h2>
  <hr/>
  <ul>
  <p>Italian programmer in Sweden.<br/>
  <a href="/speaking">Speaker</a> and technical trainer.<br/>
  <a href="https://www.pluralsight.com/authors/enrico-campidoglio">Pluralsight</a> author.<br/>
  <a href="https://github.com/AutoFixture">AutoFixture</a> core member.<br/>
  <a href="/2014/05/09/a-gentle-introduction-to-mechanical-keyboards">Keyboard</a> connoisseur.<br/>
  </p>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  </ul>
</nav>
