<nav>
  <h1 id="greeting">Hi.</h1>
  <div id="logo"></div>
  <h2>I'm <a href="/about">Enrico</a>.</h2>
  <hr/>
  <p>
  <a href="/services/">Freelance</a> programmer.<br/>
  <a href="/speaking/">Speaker</a> and <a href="/workshops">trainer</a>.<br/>
  <a href="https://www.pluralsight.com/authors/enrico-campidoglio">Pluralsight</a> author.<br/>
  <a href="/2014/05/09/a-gentle-introduction-to-mechanical-keyboards/">Keyboard</a> connoisseur.<br/>
  <a href="/git/">Git</a> enthusiast.
  </p>
  <hr/>
  <div id="social">
  {% include social.html %}
  </div>
</nav>
