<nav>
  <h1>Hi.</h1>
  <div id="logo"></div>
  <h2>I'm <a href="/">Enrico</a>.</h2>
  <hr/>
  <ul>
  <p>Italian programmer in Sweden.<br/>
  <a href="http://lanyrd.com/profile/ecampidoglio">Speaker</a> and technical trainer.<br/>
  <a href="https://github.com/AutoFixture">AutoFixture</a> core member.<br/>
  <a href="http://deskthority.net/wiki/Main_Page">Mechanical keyboards</a> fanatic.
  </p>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  </ul>
</nav>