<div id="stalker">
  {% if site.style.social.twitter %}
  <a title="{{ site.style.social.twitter }} on Twitter" href="https://twitter.com/{{ site.style.social.twitter }}">
    <i class="fab fa-twitter"></i>
  </a>
  {% endif %}

  {% if site.style.social.github %}
  <a title="{{ site.style.social.github }} on GitHub" href="https://github.com/{{ site.style.social.github }}">
    <i class="fab fa-github"></i>
  </a>
  {% endif %}

  {% if site.style.social.stackoverflow %}
  <a title="{{ site.style.name }} on Stack Overflow" href="http://stackoverflow.com/users/{{site.style.social.stackoverflow }}">
    <i class="fab fa-stack-overflow"></i>
  </a>
  {% endif %}

  {% if site.style.social.linkedin %}
  <a title="{{ site.style.name }} on LinkedIn" href="https://www.linkedin.com/in/{{ site.style.social.linkedin }}">
    <i class="fab fa-linkedin-in"></i>
  </a>
  {% endif %}

  {% if site.style.social.keybase %}
  <a title="{{ site.style.name }} on Keybase" href="https://keybase.io/{{ site.style.social.keybase }}">
    <i class="fab fa-keybase"></i>
  </a>
  {% endif %}
</div>
