<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Cache-control" content="public">
  <meta http-equiv="Cache-control" content="max-age=2592000">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ site.style.name }}" />
  <meta name="description" content="The blog of {{ site.style.name }}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@ecampidoglio" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index.html','' }}" />
  {% if page.excerpt %}
  <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines }}" />
  <meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines }}" />
  {% endif %}
  {% if page.image %}
  <meta property="og:image" content="{{ site.url }}/assets/{{ page.assets }}/{{ page.image }}" />
  <meta name="twitter:image" content="{{ site.url }}/assets/{{ page.assets }}/{{ page.image }}" />
  {% endif %}
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="megakemp.com" href="http://feeds.feedburner.com/thoughtology?format=xml" />
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,600|Open+Sans:700|Roboto:300|Inconsolata" rel="stylesheet">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css">
  {% include analytics.html %}

  {% include footnotes.html %}
</head>
<body>
  <div class="container">
    <div class="four columns sidebar">
      {% include sidebar.html %}
    </div>

    <div class="eleven columns content">
      <div id="topbar">
        <ul>
          <li><a href="/speaking">speaking</a></li>
          <li><a href="/bestof">best of</a></li>
          <li><a href="/">blog</a></li>
          <li><a href="/about">about</a></li>
        </ul>
      </div>
      {{ content }}

      <div class="footer">
        {% include footer.html %}
      </div>
    </div>
  </div>

  {% include comments.html %}

</body>
</html>
