---
layout: default
---

<p class="meta">
  <span id="meta-date">
    <i class="fa fa-calendar-o"></i>
    {{ page.date | date: "%B %d, %Y" }}
  </span>
  <span id="meta-categories">
    <i class="fa fa-tags"></i>
    Posted in
    {% for category in page.categories %}
      <a href="/tag/{{ category | replace:'.','dot' }}">{{ category }}</a>
      {% if forloop.last == false %}
        &nbsp;|&nbsp;
      {% endif %}
    {% endfor %}
  </span>
</p>

<h1 class="title">{{ page.title }}</h1>

<div id="summary">
  {{ page.summary }}
</div>

<div id="post">
  {{ content }}
</div>

<div id="related">
  <h3>Related Posts</h3>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <span>{{ post.date | date_to_string }} &raquo;</span> <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

<div id="about">
  <h4>Enrico Campidoglio</h4>
  <p>Hi, I'm Enrico Campidoglio. I'm a freelance programmer, trainer and mentor focusing on helping teams develop software better. I write this blog because I love sharing stories about the things I know. You can read more about me <a href="{{ site.url }}/about/">here</a>, if you like.</p>
</div>

{% include comments.html %}
